.cnt-report{
    padding: 20px 72px;
}
.stages{
    display: flex;
    justify-content: center;
}
.stage{
    display: "flex";
    align-items: center;
    margin-bottom: 5px;
    flex-direction: column;
    gap: 6px;
    /* margin: auto 8px; */
    width: 72px;
}
.clBox{
    width: 100%;
}
@media (max-width: 1024px) {
    .cnt-report{
        padding: 20px;
        margin-bottom: 10rem;
    }
    .stages{
        flex-direction: column;
    }
    .stage{
        flex-direction: row;
        /* width: 6rem; */
        width: 100%;
    }
    .clBox{
        width: auto;
    }
    
}
