.service-wrapper {
  padding: 72px 6rem 4rem 6rem;
  text-align: center;
  margin-bottom:2rem ;
}
.service-heading{
    margin-bottom: 1rem;
    font-size: 32px;
    font-weight: 800;
}
.services-sub-heading{
    color: grey;
    margin-bottom: 3rem;
}
.services-section {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .service-card {
    flex: 1 1 calc(33.333% - 20px);
  }
}

@media (max-width: 1024px) {
  .services-section {
    flex-wrap: wrap;
  }
  .service-card {
    flex: 1 1 calc(50% - 20px);
  }
}
@media (max-width: 768px) {
  .service-card {
    flex: 1 1 calc(100%);
  }
  .service-wrapper {
    padding: 20px;
  }
}
