.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2dc5c3;
  color: white;
  padding: 90px 95px 95px 95px;
  flex-wrap: wrap;
  text-align: center;
  gap: 5rem;
}

.hero-text {
  max-width: 600px;
  margin-right: 50px;
  flex: 1;
}

.hero-text h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hero-buttons {
  margin-top: 50px;
  text-align: center;
  border-radius: 30px;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
  color: #2dc5c3;
}

.blob-btn .btn{
  text-decoration: none;
}

.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #2dc5c3;
  border-radius: 30px;
}

.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}

.blob-btn:hover {
  color: white;
  border-radius: 30px;
}

.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}

.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #ffffff;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url('#goo');
}

.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #17153B;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.4);
  transition: transform 0.45s;
}

.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(2) {
  left: 25%;
  transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(3) {
  left: 50%;
  transition-delay: 0.24s;
}

.blob-btn__blob:nth-child(4) {
  left: 75%;
  transition-delay: 0.32s;
}

.blob-btn:hover .blob-btn__blob {
  transform: translate3d(0, 0, 0) scale(1.4);
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

/* Responsive Hero Section */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
    padding: 96px 20px 20px 20px;
    gap: 0;
  }

  .hero-text {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .hero-buttons button {
    margin-bottom: 10px;
  }
}
